	#nav {
	background: lightskyblue;
	overflow: auto;
	}
	#nav li {
	list-style-type: none;
	float: left;
	padding: 10px;
	}
	#nav li:hover {
	background: lightblue;
	}

body {
	background-image: "LA Hacks.png"
}
