doctype html

head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet', href='css/bootstrap.min.css')

body
  .container
    .row
      .col-xs-9
        
        form(action="/data" enctype="multipart/form-data" method="post")
          h1 RSVP Form
          
          .form-group
            label(for='nameInput') Name
            |  
            input#nameInput.form-control(type='input', name='name', placeholder='Enter full name')
              
          .form-group
            label(for='emailInput') Email address
            |  
            input#emailInput.form-control(type='email', name='email', placeholder='Enter email')
            |  
            small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
            
          fieldset.form-group
            legend How likely are you to need transportation?
            .form-check
              label.form-check-label
                input#optionsRadios1.form-check-input(type='radio', name='sentiment', value='1', checked='')
                |  1  Very unlikely
            .form-check
              label.form-check-label
                input#optionsRadios2.form-check-input(type='radio', name='sentiment', value='2')
                |  2
            .form-check
              label.form-check-label
                input#optionsRadios3.form-check-input(type='radio', name='sentiment', value='3')
                |  3
            .form-check
              label.form-check-label
                input#optionsRadios3.form-check-input(type='radio', name='sentiment', value='4')
                |  4
            .form-check
              label.form-check-label
                input#optionsRadios3.form-check-input(type='radio', name='sentiment', value='5')
                |  5 Very likely
          
          .form-group
            label(for='locationInput') Which campus do you wish to be picked up from?
            select.form-control#locationInput(name='location')
              option(selected='') I don't need transport
              option(value='UCLA') UCLA
              option(value='UCSD') UCSD
              option(value='USC') USC
          
          button.btn.btn-primary(type='submit') Submit
