container
  row
    col-xs-9
      form
        
        .form-group
          label(for="exampleInputEmail1") Email address
          input(type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email")
          small(id="emailHelp" class="form-text text-muted") We'll never share your email with anyone else.
          
        button(type="submit" class="btn btn-primary") Submit